@model List<FinalProjectWeb.Models.CartModels>

<div class="cart">
    <p>
        Welcome to our Online Store! <span><a href="/cart">Cart:</a></span><div id="dd" class="wrapper-dropdown-2">
            @Model.Sum(x => x.Quantity) item(s) - @Model.Sum(x => x.Quantity * x.Product.price)
            <ul class="dropdown">
                <li>you have no items in your Shopping cart</li>
            </ul>
        </div>
    </p>
</div>
