
<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <a href="forms.html"><i class="fa fa-edit fa-fw"></i>User management</a>
            </li>
            <li>
                <a href="forms.html"><i class="fa fa-edit fa-fw"></i>Product management</a>
            </li>
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>
